<%= form_tag(lesson_create_path(id: @lesson_obj.id, form_step:4), method: "post", multipart: true, class: "Form") do %>

  <%= field_set_tag 'Who is this for?', class: 'Form__fieldset' do %>

    <!-- lesson.name -->
    <div class="FormField FormField--required">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_name">Grade range</label>
        <div class="FormField__hint">Specify one or more</div>
      </div>

      <div class="FormField__input">
        <div class="Input Input--slider" data-config="<%= { start: [8, 10], connect: true, step: 1, range: { min: 7, max: 18 } }.to_json %>"></div>
      </div>

    </div>

  <% end %>

  <%= field_set_tag 'Subjects', class: 'Form__fieldset' do %>

    <!-- lesson.subjects -->
    <div class="FormField FormField--required">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_name">Subjects</label>
        <div class="FormField__hint">Specify one or more</div>
      </div>

      <div class="FormField__input">
        <% @subjects.each do |s| %>
        <label><input type="checkbox" name="subjects[]" value="<%= s %>"><%= s.titleize %></label>
        <% end %>
      </div>

    </div>

    <!-- lesson.difficulty -->
    <div class="FormField FormField--required">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_name">Difficulty level</label>
        <div class="FormField__hint">How hard is this lesson?</div>
      </div>

      <div class="FormField__input">

        <div class="FormField__radiogroup">
          <div class="FormField__radiogroup__label">
            For the student
          </div>
          <div class="FormField__radiogroup__inputs">
            <% @difficulty_helper[:students].each do |dl| %>
              <label><input type="radio" name="gender" value="<%= dl[:value] %>"><%= dl[:name] %></label>
            <% end %>
          </div>
        </div>

        <div class="FormField__radiogroup">
          <div class="FormField__radiogroup__label">
            For the teacher
          </div>
          <div class="FormField__radiogroup__inputs">
            <% @difficulty_helper[:teachers].each do |dl| %>
              <label><input type="radio" name="gender" value="<%= dl[:value] %>"><%= dl[:name] %></label>
            <% end %>
          </div>
        </div>

      </div>

    </div>

    <!-- lesson.context -->
    <div class="FormField FormField--required">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_name">Context</label>
        <div class="FormField__hint">What kind of project is this?</div>
      </div>

      <div class="FormField__input">
        <% @context.each do |c| %>
        <label><input type="checkbox" name="contexts[]" value="<%= c %>"><%= c.titleize %></label>
        <% end %>
      </div>

    </div>

    <!-- lesson.collection -->
    <div class="FormField FormField--required">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_name">Collection</label>
        <div class="FormField__hint">Does this belong to a collection?</div>
      </div>

      <div class="FormField__input">
        <%= select(:lesson, :collection_tag, options_for_select(@collections)) %>
      </div>

    </div>

    <!-- lesson.tags -->
    <div class="FormField FormField--required">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_name">Tags</label>
        <div class="FormField__hint">Enter, comma, separated, tags</div>
      </div>

      <div class="FormField__input">
        <%= text_field(:lesson, :tags, multiple: true, class: "Input--choices") %>
      </div>

    </div>

  <% end %>

  <div class="Form__footer">

    <div class="Form__footer__actions">
      <a href="#" class="Button Button--primary">Back to standards</a>
      <button class="Button Button--primary">Add some instructions</button>
    </div>

  </div>


<% end %>
