<div class="Auth">

  <div class="Auth__header" style="background-image: url('https://unsplash.it/1600/800?random')">
    <h1 class="Auth__header__heading">Register your interest</h1>
  </div>

  <div class="Auth__form">

    <%= render partial: 'devise/shared/nav' %>

    <div class="FormHeader">
      <h3 class="FormHeader__heading">The project is still in beta mode but will be open for sign up very soon.</h3>
      <div class="FormHeader__description">
        Fill in your details below and we’ll invite you as soon as it’s ready!
      </div>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <!-- key_details step -->
      <h2>Account details</h2>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :avatar %><br />
        <%= f.text_field :avatar %>
      </div>

      <!-- location {longitude}{space}{latitude} -->
      <!-- e.g. London: "-0.118092 51.509865", Barcelona: "2.1734 41.3851" -->
      <!-- check out RegistrationsController#sign_up_params -->
      <div class="field">
        <%= f.label :lonlat %><br />
        <%= f.text_field :lonlat %>
      </div>

      <div class="field">
        <%= f.label :address_line1 %><br />
        <%= f.text_field :address_line1 %>
      </div>

      <div class="field">
        <%= f.label :locality %><br />
        <%= f.text_field :locality %>
      </div>

      <div class="field">
        <%= f.label :post_code %><br />
        <%= f.text_field :post_code %>
      </div>

      <div class="field">
        <%= f.label :country %><br />
        <%= f.text_field :country %>
      </div>

      <!-- end location -->

      <div class="actions">
        <%= f.submit 'Add some details about yourself', class: 'Button Button--primary' %>
      </div>

      <!-- end key_details step -->

      <!-- description step -->

      <h2>Tell us about yourself</h2>
      <!-- subjects involvements skills -->
      <% %w(subjects involvements skills).each do |collection| %>
        <h3><%= collection.capitalize %></h3>
        <% instance_variable_get("@#{collection}").each do |item| %>
        <%= session[:sign_up_params][collection].include? item.downcase %>
          <% if session[:sign_up_params][collection.to_sym] %>
            <% checked = session[:sign_up_params][collection].include? item.downcase %>
          <% else %>
            <% checked = false %>
          <% end %>
          <div class="field">
            <%= check_box_tag "user[#{collection}][]", item, checked %>
            <%= f.label item %><br />
          </div>
        <% end %>
        <!-- involvemnts custom input -->
        <% if collection == 'involvements' %>
          <% custom_field_value = '' %>
          <% if session[:sign_up_params][:involvements] %>
            <% custom_field_value = (session[:sign_up_params][:involvements] - @involvements).first %>
          <% end %>
          <%= text_field_tag 'user[involvements][]', custom_field_value %>
        <% end %>
        <!-- end involvemnts custom input -->
      <% end%>
      <!-- end subjects involvements skills -->

      <div class="field">
        <%= f.label :other_interests %><br />
        <%= text_field_tag 'user[other_interests]' %>
      </div>

      <div class="field">
        <%= f.label :bio %><br />
        <%= text_area_tag 'user[bio]' %>
      </div>

      <div class="field social-input">
        <%= f.label :social %><br />
        <%= text_field_tag 'user[social][]' %>
      </div>
      <!-- add social link button -->
      <button type="button" class='Button Button--primary' id="add-social-link">+ Add new link</button>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $('#add-social-link').on('click', function(e) {
            e.preventDefault();
            $(".social-input:last").clone().appendTo(".social-input:last");
            $(".social-input:last input").val('');
          });
        });
      </script>
      <!-- end add social link button -->

      <div class="actions">
        <%= f.submit 'Edit account', name: 'previous_button', class: 'Button' %>
      </div>
      <div class="actions">
        <%= f.submit 'Create account', class: 'Button Button--primary' %>
      </div>
      <!-- end description step -->

      <!-- confirmation step -->
      <h2>End user License Agreement</h2>
      <p>By pressing confirm and creating a profile, you agree for all the content you publish on the platform to be distributed under a <b>Creative Commons Non-Commercial Share-Alike</b> license.</p>
      <p>For more information please read the <a href="#">Terms and conditions</a>.</p>
      <div class="actions">
        <%= f.submit "Cancel", name: 'previous_button', class: 'Button' %>
      </div>
      <div class="actions">
        <%= f.submit 'Register', class: 'Button Button--primary' %>
      </div>
      <!-- end confirmation step -->
    <% end %>

    <%= render "devise/shared/links" %>

  </div>

</div>
