<!-- sub navigation -->
<div class="SubNavigation">

  <div class="SubNavigation__content">

    <div class="SubNavigation__items">

      <%= active_link_to "Overview", person_path(id: 1, section: :overview),
        class: "SubNavigation__item",
        class_active: "SubNavigation__item--active",
        active: @section == :overview %>

      <%= active_link_to "Lessons", person_path(id: 1, section: :lessons),
        class: "SubNavigation__item",
        class_active: "SubNavigation__item--active",
        active: @section == :lessons %>

      <%= prev_person_section(@section).present? ? link_to(content_tag(:span, "Prev"), prev_person_section(@section), class: "SubNavigation__nav SubNavigation__nav--prev") : nil %>
      <%= next_person_section(@section).present? ? link_to(content_tag(:span, "Next"), next_person_section(@section), class: "SubNavigation__nav SubNavigation__nav--next") : nil %>

      <div class="SubNavigation__dots">
        <% @person_sections.each do |name, path| %>
        <%= name != @section ? link_to("•", path, class: "SubNavigation__dot") : content_tag(:span, "•", class: "SubNavigation__dot") %>
        <% end %>
      </div>

    </div>

    <div class="SubNavigation__actions">
      <%= link_to "Follow Daniel", '#', class: "Button Button--small Button--icon Button--icon--edit" %>
    </div>

  </div>

</div>
