<div class="Hero" style="background-image: url('<%= image_url('stem.jpg') %>');">

  <div class="Hero__content">

    <div class="Hero__primary"><%= CopyService.home[:hero][:first].gsub(/\n/, '<br>').html_safe %></div>
    <div class="Hero__secondary"><%= CopyService.home[:hero][:second].gsub(/\n/, '<br>').html_safe %></div>
    <div class="Hero__tertiary"><%= CopyService.home[:hero][:third].gsub(/\n/, '<br>').html_safe %></div>

    <div class="Hero__actions">
      <%= link_to 'Join us!', new_user_registration_path, class: "Button Button--light Button--outline" %>
    </div>

  </div>

</div>


<section class="Section Section--centered">

  <div class="Proposition">

    <div class="Proposition__sub">
      <%= CopyService.home[:proposition][:sub].gsub(/\n/, '<br>').html_safe %>
    </div>

    <div class="Proposition__main">
      <%= CopyService.home[:proposition][:main].gsub(/\n/, '<br>').html_safe %>
    </div>

  </div>

</div>


<section class="Section Section--gray Section--centered Section--with-padding">

  <div class="SectionHeader">
    <h3 class="SectionHeader__main"><%= CopyService.home[:projects][:heading].gsub(/\n/, '<br>').html_safe %></h3>
    <div class="SectionHeader__sub"><%= CopyService.home[:projects][:sub].gsub(/\n/, '<br>').html_safe %></div>
  </div>

  <div class="Carousel">

    <div class="Carousel__cells">

      <% 12.times do |i| %>
      <div class="Carousel__cell">

        <div class="Thumb">

          <a href="#" class="Thumb__image">
            <img src="https://unsplash.it/270/202" srcset="https://unsplash.it/270/202 1x, https://unsplash.it/540/404 2x" class="Image Image--lazy" />
          </a>

          <div class="Thumb__content">

            <a href="#" class="Thumb__title">Title <%= i %></a>

            <div class="Thumb__description">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            </div>

          </div>

          <div class="Thumb__footer">
            <a href="#" class="UserBadge UserBadge--small">
              <img src="" srcset="https://pbs.twimg.com/profile_images/476990389392777217/HilNvfjz_400x400.jpeg" class="UserBadge__avatar Image Image--lazy" />
              <div class="UserBadge__info">
                <div class="UserBadge__name">Daniel Howells</div>
                <div class="UserBadge__role">Director</div>
                <div class="UserBadge__organisation">Howells—Studio</div>
              </div>
            </a>
          </div>

        </div>

      </div>
      <% end %>

    </div>

  </div>

  <div class="Section__actions">
    <%= link_to "View all lessons", lesson_list_path, class: "Button Button--secondary" %>
  </div>

</section>
