<div class="FormField__input">
	<div class="Checkboxes">
		<% @fabrication_tools.each_with_index do |tool, i| %>
		<div class="Checkbox">
		<input type="checkbox" class="Checkbox__input" name="lesson[fabrication_tools][]" value="<%= tool %>" id="lesson_fabrication_tools_<%= i %>" <%= @lesson_obj.fabrication_tools.include?(tool) ? :checked : nil %> data-parsley-multiple="fabrication_tools" data-parsley-required="true" data-parsley-mincheck="1" data-parsley-errors-container=".Checkboxes" />
		<label class="Checkbox__label" for="lesson_fabrication_tools_<%= i %>">
			<%= tool %>
		</label>
		</div>
		<% end %>
	</div>
</div>