.step
  %h4
    ="Step #{index + 1}"
  .step-content
    %section.left
      %h3
        =step.summary
      %p
        =step.description.gsub(/\n/, '<br>').html_safe
      - if step.supporting_materials.present?
        %ul
          -step.supporting_materials.uniq.each do |s|
            %li
              =link_to( s.path.split("/").last ,"#{s.url}", target: "_blank")
    .right
      %section
        %h5
          Duration
        %span.icon-Clock
        %span
          = " #{(step.duration / 60.0).to_d.truncate(2).to_f} minutes"

      - if step.supporting_files.present? # TODO test this
        %section
          %h5
            Project Files
          %ul
            -step.supporting_files.uniq.each do |s|
              %li
                =link_to( s.path.split("/").last ,"#{s.url}", target: "_blank")

      - if step.materials.present?
        %section
          %h5
            Materials needed for this step
          %ul
            -step.materials.uniq.each do |m|
              %li
                = "x#{m['number']} - #{m['name']}"

      - if step.tools.present?
        %section
          %h5
            Tools needed for this step
          %ul
            -step.tools.uniq.each do |t|
              %li
                = t

      - if step.external_links.present? # TODO test this
        %section
          %h5
            External Links
          %ul
            -step.external_links.each do |el|
              %li
                =link_to el, el


