.form-step
  = form_tag(lesson_create_path(id: @lesson_obj.id, form_step:2), method: "post", multipart: true, id:"lesson_form_1") do
    %article
      .wrapped
        %fieldset
          %legend
            %h3 Basic information
            %small * Mandatory information
          .field-group
            %label
              Name of Lesson *
              %small 50 chars max
            .field-wrapper
              = text_field(:lesson, :name, class:'input--large input--higher', value: @lesson_obj.name, placeholder: 'Name your lesson')
          .field-group
            %label
              Topline description *
              %small Describe it in a sentence
            .field-wrapper
              = text_field(:lesson, :topline, value: @lesson_obj.topline, placeholder: 'How would you describe it in one sentence?')
          .field-group
            %label
              Summary of lesson *
              %small
                %p Keep it short and snappy.
                %p Try to include:
                %p
                  • Why the lesson is interesting
                  %br
                  • The types of activities students will do.
                %p You can format using markdown
            .field-wrapper
              = text_area(:lesson, :summary, value: @lesson_obj.summary, placeholder: 'Add a summary for your lesson')
        %fieldset
          %legend
            %h3 Authors
          .field-group
            %label
              Who made this *
              %small Enter one or more authors
            .field-wrapper

              .user--teaser-wrapper
                = render '/users/user-teaser';
                .form--actions-related
                  -#%button.button--highlight Invite to SCOPES
                  -#%a.form--remove-element{href:'#'}
                    -#%i.icon_delete_black
                    -#%span Delete

              -#%input{id:'other-user-emails', name: 'other_user_emails', type: 'text', placeholder: 'Add new person' }
              -#.field-group
              -#%label
              -#Where was this made *
              -#%small Enter one or more places
              -#.field-wrapper
              -#%input{type: 'text', placeholder: 'Add new place'}
        -#%fieldset
        -#  %legend
        -#    %h3 Authors
        -#  .field-group
        -#    %label
        -#      Who made this *
        -#      %small Enter one or more authors
        -#    .field-wrapper
        -#
        -#      .user--teaser-wrapper
        -#        = render '/users/user-teaser';
        -#        .form--actions-related
        -#          %button.button--highlight Invite to SCOPES
        -#          %a.form--remove-element{href:'#'}
        -#            %i.icon_delete_black
        -#            %span Delete
        -#
        -#      %input{id:'other-user-emails', name: 'other_user_emails', type: 'text', placeholder: 'Add new person' }
        -#  .field-group
        -#    %label
        -#      Where was this made *
        -#      %small Enter one or more places
        -#    .field-wrapper
        -#      %input{type: 'text', placeholder: 'Add new place'}
        %fieldset
          %legend
            %h3 Objectives
          .field-group
            %label
              Learning objectives *
              %small What will the students learn
            .field-wrapper
              .clone-container
                - if @lesson_obj.learning_objectives.present?
                  - @lesson_obj.learning_objectives.each do |objective|
                    = text_field(:lesson, :learning_objectives, multiple: true, data: { control:'key'}, value: objective)
                - else
                  = text_field(:lesson, :learning_objectives, multiple: true, data: { control:'key'}, placeholder: '+ Add new objective' )
              %small Press ↵ Return to add
        %fieldset
          %legend
            %h3 Lesson ambitions
          .field-group
            %label
              Lesson Description *
              %small
                %p Keep it short and snappy.
                %p Try to include:
                %p
                  • Why the lesson is interesting
                  %br
                  • The types of activities students will do.
                %p You can format using markdown
            .field-wrapper
              = text_area(:lesson, :description, value: @lesson_obj.description, placeholder: 'Which is the description of the lesson?')
          .field-group
            %label
              Assessment Criteria *
              %small
                %p Keep it short and snappy.
                %p Try to include:
                %p
                  • Why the lesson is interesting
                  %br
                  • The types of activities students will do.
                %p You can format using markdown
            .field-wrapper
              = text_area(:lesson, :assessment_criteria, value: @lesson_obj.assessment_criteria, placeholder: 'Which is the assessment criteria?')
            .field-wrapper
              .field-group.field-group--support
                %label.label--small
                  Supporting files
                .field-wrapper
                  = file_field_tag 'assessment_criteria_files[]', multiple: true

        %fieldset
          .field-group
            %label
              Further reading
              %small Anymore useful links
            .field-wrapper
              .clone-container
                - if @lesson_obj.further_readings.present?
                  - @lesson_obj.further_readings.each do |further|
                    = text_field(:lesson, :further_readings, multiple: true, data: { control:'key'}, value: further )
                - else
                  = text_field(:lesson, :further_readings, multiple: true, data: { control:'key'}, placeholder: '+ Type URL and press enter ')
              %small Press ↵ Return to add

      %footer
        .wrapped
          %p Next up...
          = submit_tag('Add some more details', class: 'button button--call')

= render '/users/new-modal';