= form_tag(lesson_create_path(id: @lesson_obj.id, form_step:5), method: "post", multipart: true, id:"form") do


  %article
    .wrapped
      %fieldset
        %legend
          %h3 How does this lesson unfold?
          %small * Mandatory information

      .lesson-step

        %fieldset
          %legend
            %h4 Instructions

          .field-group
            %label
              Summary
              %small Add one or more
            .field-wrapper
              = text_field(:step, :summary, class:'input--large')

          .field-group
            %label
              Time needed
              %small A reference on the time that will take to complete the step
            .field-wrapper
              %input{type: 'text', id: 'grade', readonly: 'readonly'}
                %div#slider-range

          .field-group
            %label
              Description *
              %small
                %p Describe all the actions in this step.
                %p If there are lot of actions, please consider breaking it down into multiple steps!
            .field-wrapper
              = text_field(:step, :description)
              .field-group.field-group--support
                %label.label--small
                  Supporting files
                .field-wrapper
                  = file_field_tag 'supporting_files[]', multiple: true

        %fieldset
          %legend
            %h4 What is needed for this step?
          .field-group
            %label
              Materials
              %small What do they need?
            .field-wrapper
              .field--xs
                %input{type: 'text', placeholder: 'Qty'}
              .field--xl
                %input{type: 'text', placeholder: 'Enter item here'}
              %small Press ↵ Return to add

          .field-group
            %label
              Tools
              %small List as many as needed
            .field-wrapper
              %input{type: 'text', placeholder: 'Enter item here'}
              %small Press ↵ Return to add

          .field-group
            %label
              Supporting Materials
              %small Design files, handouts needed for this step
            .field-wrapper
              = file_field_tag 'supporting_materials[]', multiple: true


        %h3 Step 2
        = link_to 'Add new Step', '#', class: 'button button--highlight'



    %footer
      .wrapped
        =link_to 'Back to details', lesson_new_path(id: @lesson_obj.id, form_step:3), class: 'button button--call'
        -#=link_to 'Add some outcomes', lesson_new_path(form_step:5), class: 'button button--call'
        = submit_tag('Add some more details', class: 'button button--call')