<div class="Thumb">

  <%= link_to lesson_path(lesson), class: "Thumb__image" do %>
    <% if lesson.outcome_files.present? %>
    <img src="<%= lesson.outcome_files.first.url(:thumbnail) %>" srcset="<%= lesson.outcome_files.first.url(:thumbnail) %> 1x, <%= lesson.outcome_files.first.url(:thumbnail2x) %> 2x" class="Image Image--lazy" />
    <% end %>
  <% end %>

  <div class="Thumb__content">

    <%= link_to lesson.name, lesson_path(lesson), class: "Thumb__title" %>

    <div class="Thumb__description">
      <%= lesson.topline %>
    </div>

  </div>

  <div class="Thumb__footer">
    <%= render partial: "components/user_badge", locals: { size: :small } %>
  </div>

</div>
