#instructions
  #title-space
    .wrapped
      %span.growth
        %h2
          =@lesson.name
      %span
        .icon-Clock
        %span
          = " #{(@lesson.totalDuration/ 60.0 / 60.0).to_d.truncate(2).to_f} hours"
        .icon-Done
        %span
          = " #{@lesson.steps.count} step#{ @lesson.steps.count > 1 ? 's' : '' }"

  #consolidated-space
    .wrapped
      - if @lesson.get_all_materials.present? && @lesson.get_all_materials.first.present?  # weird... [nil].present? == true
        %section
          %span
            %span.icon-List
            %span.section-header Materials Needed
          %ul
            -@lesson.get_all_materials.each do |m|
              %li
                = "x#{m['number']} - #{m['name']}"
      %section
        %span
          %span.icon-Tool
          %span.section-header  Tools Used
        %ul
          -@lesson.get_all_tools.each do |t|
            %li
              = t
      - if @lesson.get_all_supporting.present?
        %section
          %span
            %span.icon-File
            %span.section-header Project Files
            %ul
              -@lesson.get_all_supporting.each do |s|
                %li
                  =link_to( s.path.split("/").last ,"#{s.url}", target: "_blank")

  .steps--view
    .wrapped
      - @lesson.steps.sort_by{ |k| k[:step_number] }.each_with_index do |step, i|
        = render 'shared/lesson_step_view', step: step, index: i

%footer
  .wrapped
    =link_to 'Back to Standards',lesson_view_path(step:2), class: 'button button--call'
    =link_to 'View Outcomes',lesson_view_path(step:4), class: 'button button--call'

