.view--top-content
  .top-content-title
    .badges
      = render 'shared/badge_show', collection: @lesson.getCollectionTags.first if @lesson.getCollectionTags.present?
    %h2
      =@lesson.name
    %p.text--intro
      =@lesson.topline
    %hr
    -#%br
    -#.author-section
    -#  = render '/users/user-teaser', user: @lesson.authors.first

  .top-content-images
    .image.image_wrapper-center.about-flex-child
      - if @lesson.outcome_files.present?
        =image_tag("#{@lesson.outcome_files.first.url}")

%section.view--details
  #range-teaching.detail
    %h5.header--section
      Teaching Range
    %p
      = "#{@lesson.getTeachingRange_formatted[:range_start].titleize} - #{@lesson.getTeachingRange_formatted[:range_end].titleize} Grade"
  #subjects-covered.detail
    %h5.header--section
      Subject Covered
    -@lesson.getSubjects.each do |s|
      -if s =="technology"
        %span.icon-Technology.icon-color
      -if s =="science"
        %span.icon-Science.icon-color
      -if s =="mathematics"
        %span.icon-Maths.icon-color
      -if s =="arts"
        %span.icon-Palette.icon-color
      -if s =="engineering"
        %span.icon-Engineering.icon-color

      %span
        =s.titleize
      %br
  #difficulty.detail
    %h5.header--section
      Difficulty
    %p.text--intro
      = @lesson.educator_difficulty[:level].titleize
    %small
      for educators
    %br
    %p.text--intro
      = @lesson.student_difficulty[:level].titleize
    %small
      for students
  #standards.detail
    %h5.header--section
      Alignment to Standards
    - @lesson.standards_array.first(3).each do |s|
      %p.text--intro
        = s["name"]
    %br
    %small
      = "+#{(@lesson.standards_array.count - 3 )} more"
    %span
      =link_to 'View more',lesson_view_path(step:2)

.wrapped
  -#[view more lesson details >]
  .overview
    .overview--left
      %section#summary
        %h5.header--section
          Summary
        %p
          =@lesson.description
      -#%section#download
      -#  %h5.header--section
      -#    Download Lesson Plan
      -#  [ button to view print friendlyle version here ]
      %section#objectives
        %h5.header--section
          Objectives
        - @lesson.learning_objectives.each do |lo|
          = render 'shared/lesson_objective', content: lo

      -if @lesson.outcome_files.present?
        %section#outcomes
          %h5.header--section
            Expected Outcomes
          .image.image_wrapper-center.about-flex-child
            =image_tag("#{@lesson.outcome_files.first.url}")
          -if @lesson.outcome_files.count > 3
            .image_grand_wrapper_column
              - @lesson.outcome_files[1,2].each do |i|
                .image.image_wrapper-center.about-flex-child
                  =image_tag("#{i.url}")
          =link_to 'View All',lesson_view_path(step:4), class: 'button button--highlight'

      %section#assessment
        %h5.header--section
          Assessment Criteria
        %p Your students should know the following things:
        %p
          =@lesson.assessment_criteria.gsub(/\n/, '<br>').html_safe
        -if @lesson.further_readings.present?
          %h5.header--section
            Further Readings
          - @lesson.further_readings.each do |fr|
            =link_to("#{fr}", fr)

    .overview--right
      %section#wherewhen
        %h5.header--section
          Where and When
        .flex-wrapper--fullrow
          .sub-section--full
            %h5.header--section
              Duration:
            %p
              = "#{(@lesson.totalDuration/ 60.0).to_d.truncate(2).to_f} minutes"
          .sub-section--full
            %h5.header--section
              Setting:
            %ul
              - @lesson.getContext.each do |c|
                %li
                  =c.titleize

      %section#skills
        %h5.header--section
          Skills Needed
        %ul
          - @lesson.getSkillsLevels.each do |sl|
            %li
              = sl[:name]
      -#%section#stats
      -#  %h5.header--section
      -#    Stats
      -#  %p
      -#    = "ICON - #{@lesson.stats[:likes]} - Likes <br> ICON - #{@lesson.stats[:forks]} - Forkes".html_safe
      -#%section#Details
      -#  %h5.header--section
      -#    Details
      -#  %p
      -#    ="Publish date: #{@lesson.created_at.strftime('%m/%d/%Y')} <br> Last updated: #{@lesson.updated_at.strftime('%m/%d/%Y')}".html_safe
      -#%section#Contributors
      -#  %h5.header--section
      -#    Authors
      -#  - @lesson.authors.each do |a|
      -#    = render 'shared/lesson_author', user: a
      -#%section#Orgs
      -#  %h5.header--section
      -#    Developed At
      -#  - @lesson.authors.each do |a|
      -#    = render 'shared/lesson_organizations', org: a
      -#%section#Tags
      -#  %h5.header--section
      -#    Tags
      -#  [OTHER TAGS]

%footer
  .wrapped
    %p Interested in this lesson?
    =link_to 'Check out the standards',lesson_view_path(step:2), class: 'button button--call'


