#instructions
  #title-space
    .wrapped
      %span
        %h2
          =@lesson.name
      %span
        %p
          [icon here]
          = "#{@lesson.totalDuration.minutes} minutes"
      %span
        %p
          [icon here]
          = "#{@lesson.steps.count} step#{ @lesson.steps.count > 1 ? 's' : '' }"

  #consolidated-space
    .wrapped
      - if @lesson.get_all_materials.present? && @lesson.get_all_materials.first.present?  # weird... [nil].present? == true
        %section
          %h4 [icon] Materials Needed
          %ul
            -@lesson.get_all_materials.each do |m|
              %li
                = "x#{m['number']} - #{m['name']}"
      %section
        %h4 [icon] Tools Used
        %ul
          -@lesson.get_all_tools.each do |t|
            %li
              = t
      %section
        %h4 [icon] Project Files
        =link_to 'something', '#'

  .steps--view
    .wrapped
      - @lesson.steps.each_with_index do |step, i|
        = render 'shared/lesson_step_view', step: step, index: i

%footer
  .wrapped
    =link_to 'Back to Standards',lesson_view_path(step:2), class: 'button button--call'
    =link_to 'View Outcomes',lesson_view_path(step:4), class: 'button button--call'

