<%= field_set_tag 'Instructions', class: 'Form__fieldset Form__fieldset--minor' do %>

  <!-- step.name -->
  <div class="FormField FormField--required">

    <div class="FormField__info">
      <label class="FormField__label" for="step_name">Step name</label>
    </div>

    <div class="FormField__input">
      <input type="text" name="step[name]" class="Input Input--large" value="<%= @step_obj.name %>" required />
    </div>

  </div>

  <!-- step.duration -->
  <div class="FormField FormField--required">

    <div class="FormField__info">
      <label class="FormField__label" for="step_duration">Duration</label>
    </div>

    <div class="FormField__input">
      <div class="Slider">
        <div class="Slider__value"></div>
        <div class="Slider__control" data-config="<%= { start: 0, step: 10, connect: [true, false], range: { min: 0, max: 420 }, unit: 'mins' }.to_json %>">
          <input type="hidden" name="step[duration]" value="<%= @step_obj.duration %>" />
        </div>
      </div>
    </div>

  </div>

  <!-- step.description -->
  <div class="FormField FormField--required">

    <div class="FormField__info">
      <label class="FormField__label" for="step_description">Description</label>
      <div class="FormField__hint">
        <p>Describe all the actions in this step, including preparation, facilitation or procedure, builds, and discussions.</p>
        <p>Small bulleted or ordered list are helpful - Remember, the more info you share, the more likely a fellow educator can try it with their own youth!</p>
      </div>
    </div>

    <div class="FormField__input">
      <textarea id="step_description" name="step[description]" required><%= @step_obj.description %></textarea>
    </div>

  </div>

  <!-- step.images -->
  <div class="FormField FormField--with-border">

    <div class="FormField__info">
      <label class="FormField__label" for="step_images">Images</label>
      <div class="FormField__hint">
        <p>Upload any images required</p>
      </div>
    </div>

    <div class="FormField__input">
      <div class="FileUpload" data-url="/" data-paramname="step[supporting_files]" id="step_supporting_files_1">
        <div class="FileUpload__message">
          Drag & drop files here - or click to browse<br />.jpg, .png, .pdf
        </div>
      </div>
    </div>

  </div>

<% end %>

<%= field_set_tag 'Prepare', class: 'Form__fieldset Form__fieldset--minor' do %>

  <!-- step.materials -->
  <div class="FormField FormField--with-padding">

    <div class="FormField__info">
      <label class="FormField__label" for="step_materials">Material List</label>
      <div class="FormField__hint">
        <p>List and describe the materials</p>
      </div>
    </div>

    <div class="FormField__input FormField__input--multiple">
      <input type="text" name="step[materials][]" class="Input Input--multiple" placeholder="+ Add a new item" id="step_materials" data-values="<%= @step_obj.materials.to_json %>" />
    </div>

  </div>

  <!-- step.fabrication_equipment -->
  <div class="FormField FormField--with-padding">

    <div class="FormField__info">
      <label class="FormField__label" for="step_fabrication_equipment">Fabrication Equipment</label>
      <div class="FormField__hint">
        <p>Check the Fabrication Equipment used</p>
      </div>
    </div>

    <div class="FormField__input FormField__input--multiple">
      <input type="text" name="step[fabrication_equipment][]" class="Input Input--multiple" placeholder="+ Add a new item" id="step_fabrication_equipment" data-values="<%= @step_obj.fabrication_equipment.to_json %>" />
    </div>

  </div>

  <!-- step.software -->
  <div class="FormField FormField--with-padding">

    <div class="FormField__info">
      <label class="FormField__label" for="step_software">Software</label>
      <div class="FormField__hint">
        <p>Add any/all softward used</p>
      </div>
    </div>

    <div class="FormField__input FormField__input--multiple">
      <input type="text" name="step[software][]" class="Input Input--multiple" placeholder="+ Add a new item" id="step_software_1" data-values="<%= @step_obj.software.to_json %>" />
    </div>

  </div>

  <!-- step.design_files -->
  <div class="FormField FormField--with-padding">

    <div class="FormField__info">
      <label class="FormField__label" for="step_supporting_files_1">Design Files</label>
      <div class="FormField__hint">
        <p>More educator notes, handouts, or other support files</p>
      </div>
    </div>

    <div class="FormField__input">
      <div class="FileUpload" data-url="/" data-paramname="step[design_files]" id="step_design_files">
        <div class="FileUpload__message">
          Drag & drop files here - or click to browse<br />.jpg, .png, .pdf
        </div>
      </div>
    </div>

  </div>

  <!-- step.external_links -->
  <div class="FormField FormField--with-border">

    <div class="FormField__info">
      <label class="FormField__label" for="step_external_links_1">External Links</label>
      <div class="FormField__hint">
        <p>Any more useful links</p>
      </div>
    </div>

    <div class="FormField__input FormField__input--multiple">
      <input type="url" name="step[external_links][]" class="Input Input--multiple" value="" placeholder="+ Add a new URL" id="step_external_links_1" data-values="<%= @step_obj.external_links.to_json %>" />
    </div>

  </div>

  <div class="FormField__actions">
    <button type="submit" class="Button Button--secondary FormField__action">Save step</button>
    <input name="step[new_after_save]" type="hidden" value="false" />
    <button type="submit" class="Button Button--secondary FormField__action FormField__action--new">Save and add a new step</button>
  </div>

<% end %>
