<%= render partial: 'lessons/sub_header' %>

<%= render partial: 'lessons/edit_sub_nav' %>

<%= render partial: 'steps/step_list' %>

<%= form_tag(lesson_step_path(lesson_id: @lesson_obj.id, id: @step_obj.id, form_step:4), method: :patch, multipart: true, class: "Form") do %>

  <%= render partial: 'steps/form' %>

  <div class="Form__footer">

    <div class="Form__footer__content">

      <div class="Form__footer__actions">
        <%= link_to "Back to Details", edit_lesson_path(id: @lesson_obj.id, form_step: 3), class: 'Form__footer__action Button Button--primary Button--small Button--icon Button--icon--left Button--arrow--left' %>

        <%= link_to "Add some Outcomes", edit_lesson_path(id: @lesson_obj.id, form_step: 5), class: 'Form__footer__action Button Button--primary Button--small Button--icon Button--icon--right Button--arrow--right' %>
      </div>

    </div>

  </div>

<% end %>
