<%= render partial: 'lessons/sub_header' %>

<%= render partial: 'lessons/edit_sub_nav' %>

<%= render partial: 'steps/step_list' %>

<%= form_tag(edit_lesson_step_path(lesson_id: @lesson_obj.id, id: @step_obj.id, form_step:4), method: :patch, multipart: true, class: "Form") do %>

  <%= render partial: 'steps/form' %>

  <div class="Form__footer">

    <div class="Form__footer__content">

      <div class="Form__footer__actions">
        <a href="#" class="Form__footer__action Button Button--primary Button--small Button--icon Button--icon--left Button--arrow--left">Back to details</a>
        <button class="Form__footer__action Button Button--primary Button--small Button--icon Button--icon--right Button--arrow--right">Add some outcomes</button>
      </div>

    </div>

  </div>

<% end %>
