<%= render partial: 'lessons/show_sub_nav' %>

<div class="PageHeader">
  <div class="PageHeader__content">
    <div class="PageHeader__title">
      <h1 class="PageHeader__heading"><%= @lesson_obj.name %></h1>
    </div>
    <div class="PageHeader__indicators">
      <div class="PageHeader__indicator PageHeader__indicator--time">
        <%= @lesson_obj.duration %>
      </div>
      <div class="PageHeader__indicator PageHeader__indicator--steps">
        <%= @lesson_obj.steps.count %> steps
      </div>
    </div>
  </div>
</div>

<div class="Requirements">

  <div class="Requirements__content">

    <div class="Requirements__column">

      <h4 class="Requirements__heading Requirements__heading--materials">Materials needed</h4>

      <!-- TODO: this would best be served as a method on the lesson model -->
      <ul class="Requirements__list">
        <% @lesson_obj.steps.each do |step| %>
          <% step.materials.each do |material| %>
            <li class="Requirements__list__item"><%= material %></li>
          <% end %>
        <% end %>
      </ul>

    </div>

    <div class="Requirements__column">

      <h4 class="Requirements__heading Requirements__heading--tools">Software & Equipment needed</h4>

      <!-- TODO: this double looping best be served as a method on the lesson model -->
      <ul class="Requirements__list">
        <% @lesson_obj.steps.each do |step| %>
          <% step.software.each do |software_package| %>
            <li class="Requirements__list__item"><%= software_package %></li>
          <% end %>
          <% step.fabrication_equipment.each do |tool| %>
            <li class="Requirements__list__item"><%= tool %></li>
          <% end %>
        <% end %>
      </ul>

    </div>

    <!-- TODO: no functionality to combine all files into one downloadable -->
    <div class="Requirements__column">

      <h4 class="Requirements__heading Requirements__heading--files">Project files</h4>

      <a href="#" class="Button Button--small Button--primary Button--icon Button--icon--download">Download all project files</a>

    </div>

  </div>

</div>

<% @lesson_obj.steps.each_with_index do |step, i| %>
<!-- step <%= i+1 %> -->
<div class="Step">

  <div class="Step__columns">

    <div class="Step__main">

      <div class="Step__number">Step <%= i+1 %></div>

      <h3 class="Step__main__heading"><%= step.name %></h3>

      <div class="Step__text">

        <%= markdown(step.description) %>

        <% if step.images.present? %>
        <div class="Slideshow">

          <div class="Slideshow__cells">

            <% step.images.each do |image| %>
            <div class="Slideshow__cell">
              <img src="<%= image.url(:medium) %>" srcset="<%= image.url(:medium) %> 1x, <%= image.url(:medium2x) %> 2x" class="Image Image--lazy" />
            </div>
            <% end %>

          </div>

          <div class="Slideshow__nav__cells">

            <% step.images.each do |image| %>
            <div class="Slideshow__nav__cell">
              <img src="<%= image.url(:thumbnail) %>" srcset="<%= image.url(:thumbnail) %> 1x, <%= image.url(:thumbnail2x) %> 2x" class="Image Image--lazy" />
            </div>
            <% end %>

          </div>

        </div>
        <% end %>

      </div>

    </div>

    <div class="Step__sidebar">

      <div class="Sidebar">

        <div class="Sidebar__section Sidebar__section--with-border">

          <% if step.duration > 0 %>
          <div class="Sidebar__heading">
            Duration
          </div>

          <ul class="Sidebar__list">
            <li class="Sidebar__list__item">
              <div class="Sidebar__stat Sidebar__stat--duration"><%= distance_of_time_in_words(step.duration*60) %></div>
            </li>
          </ul>

        </div>
        <% end %>

        <% if step.design_files.present? %>
        <div class="Sidebar__section">

          <div class="Sidebar__heading">
            Design Files
          </div>

          <ul class="Sidebar__list">
            <li class="Sidebar__list__item">
              <% step.design_files.each do |file| %>
                <%= link_to file.file.filename, file.url, class: "Sidebar__link Sidebar__link--download" %>
              <% end %>
            </li>
          </ul>

        </div>
        <% end %>

        <% if step.materials.present? %>
        <div class="Sidebar__section">

          <div class="Sidebar__heading">
            Materials needed for this step
          </div>

          <ul class="Sidebar__list">
            <% step.materials.each do |material| %>
            <li class="Sidebar__list__item"><%= material %></li>
            <% end %>
          </ul>

        </div>
        <% end %>

        <% if step.fabrication_equipment.present? %>
        <div class="Sidebar__section">

          <div class="Sidebar__heading">
            Fabrication equipment needed for this step
          </div>

          <ul class="Sidebar__list">
            <% step.fabrication_equipment.each do |tool| %>
            <li class="Sidebar__list__item"><%= tool %></li>
            <% end %>
          </ul>

        </div>
        <% end %>

        <% if step.external_links.present? %>
        <div class="Sidebar__section">

          <div class="Sidebar__heading">
            External Links
          </div>

          <ul class="Sidebar__list">
            <% step.external_links.each do |link| %>
            <li class="Sidebar__list__item">
              <a href="<%= link %>" class="Sidebar__link"><%= link %></a>
            </li>
            <% end %>
          </ul>

        </div>
        <% end %>

      </div>

    </div>

  </div>

</div>
<% end %>

<div class="PageFooter">

  <div class="PageFooter__content">

    <div class="PageFooter__actions">
      <%= link_to "Back to Standards", lesson_standards_path(lesson_id: @lesson_obj.id), class: "PageFooter__action Button Button--primary Button--small Button--icon Button--icon--left Button--arrow--left" %>
      <%= link_to "View Outcomes", lesson_path(id: @lesson_obj.id, section: :outcomes), class: "PageFooter__action PageFooter__action--right Button Button--primary Button--small Button--icon Button--icon--right Button--arrow--right" %>
    </div>

  </div>

</div>