<%= form_tag(lesson_path(id: @lesson_obj.id, form_step:5), method: :patch, multipart: true, class: "Form") do %>

  <%= field_set_tag 'Examples of finished work', class: 'Form__fieldset' do %>

    <!-- lesson.outcome_files -->
    <div class="FormField">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_outcome_files">Add images</label>
        <div class="FormField__hint">
          <p>Image specifications here</p>
        </div>
      </div>

      <div class="FormField__input">
        <div class="dropzone" data-url="<%= upload_file_for_lesson_path(@lesson_obj.id, attr: :outcome_files) %>" id="outcome_files">
        </div>

        <div class="FormUploads">
          <% @lesson_obj.outcome_files.each do |file| %>
            <div class="FormUploads__file FormUploads__file--<%= file.file.extension %>">
              <%= link_to file.file.filename, file.url, class: "FormUploads__link" %>
              <%= link_to "✕", delete_file_for_lesson_path(@lesson_obj.id, attr: :outcome_files, name: file.file.filename), method: :delete, class: "FormUploads__delete" %>
            </div>
          <% end %>
        </div>

      </div>

    </div>

  <% end %>

  <div class="Form__footer">

    <div class="Form__footer__content">

      <div class="Form__footer__actions">
        <a href="#" class="Form__footer__action Button Button--primary Button--small Button--icon Button--icon--left Button--arrow--left">Back to Instructions</a>
        <button class="Form__footer__action Button Button--primary Button--small Button--icon Button--icon--check">Publish Lesson</button>
      </div>

    </div>

  </div>

<% end %>
