<%= form_tag(lesson_path(id: @lesson_obj.id, form_step:2), method: :patch, multipart: true, class: "Form") do %>

  <%= field_set_tag 'Basic Information', class: 'Form__fieldset Form__fieldset--with-border' do %>

    <!-- lesson.name -->
    <div class="FormField FormField--required">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_name">Lesson Title</label>
        <div class="FormField__hint">50 chars max</div>
      </div>

      <div class="FormField__input">
        <input type="text" name="lesson[name]" class="Input Input--large" value="<%= @lesson_obj.name %>" id="lesson_name" maxlength="50" required
          placeholder="Name your lesson" />
      </div>

    </div>

    <!-- lesson.topline -->
    <div class="FormField FormField--required">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_topline">Quick Pitch</label>
        <div class="FormField__hint">Describe the learning in one sentence, 140 chars max</div>
      </div>

      <div class="FormField__input">
        <input type="text" name="lesson[topline]" class="Input" value="<%= @lesson_obj.topline %>" id="lesson_topline" maxlength="140" required
          placeholder="How would you describe it in one sentence?" />
      </div>

    </div>

    <!-- lesson.summary -->
    <div class="FormField FormField--required">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_summary">Summary</label>
        <div class="FormField__hint">
          <p>Keep it short and snappy</p>
          <p>Try to include:</p>
          <ul>
            <li>Why the lesson is interesting</li>
            <li>The types of activities students will do.</li>
          </ul>
          <p>You can format using [Markdown]() markup language.</p>
        </div>
      </div>

      <div class="FormField__input">
        <textarea class="Input Input--textarea Input--autosize Input--character-count" rows="5" maxlength="800" name="lesson[summary]" id="lesson_summary" required><%= @lesson_obj.summary %></textarea>
      </div>

    </div>

  <% end %>

  <%= field_set_tag 'Objectives', class: 'Form__fieldset Form__fieldset--with-border' do %>

    <!-- lesson.learning_objectives -->
    <div class="FormField FormField--required">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_topline">Learning Objectives</label>
        <div class="FormField__hint">What will the students learn</div>
      </div>

      <div class="FormField__input FormField__input--multiple">
        <input type="text" name="lesson[learning_objectives][]" class="Input Input--multiple" data-values='<%= @lesson_obj.learning_objectives.to_json %>' value="" placeholder="+ Add a new objective" id="lesson_objectives_1" required />
      </div>

    </div>

  <% end %>

  <%= field_set_tag nil, class: 'Form__fieldset Form__fieldset--with-border' do %>

    <!-- lesson.teacher_notes -->
    <div class="FormField FormField--required">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_teacher_notes">Teacher Notes</label>
      </div>

      <div class="FormField__input">
        <textarea class="Input Input--textarea Input--autosize" rows="5" name="lesson[teacher_notes]" id="lesson_teacher_notes" required><%= @lesson_obj.teacher_notes %></textarea>
      </div>

    </div>

    <!-- lesson.assessment_criteria -->
    <div class="FormField FormField--required">

      <div class="FormField__info">
        <label class="FormField__label" for="assessment_criteria">Assessment</label>
        <div class="FormField__hint">
          <p>Briefly describe how you assessed student learning in this lesson</p>
        </div>
      </div>

      <div class="FormField__input">
        <textarea class="Input Input--textarea Input--autosize Input--character-count" rows="5" maxlength="800" name="lesson[assessment_criteria]" id="lesson_assessment_criteria" placeholder="How are the students assessed? Feel free to attach files and more" required><%= @lesson_obj.assessment_criteria %></textarea>
      </div>

    </div>

    <!-- lesson.assessment_criteria_files -->
    <div class="FormField">

      <div class="FormField__info">
        <label class="FormField__label" for="assessment_criteria_files">Supporting Files</label>
        <div class="FormField__hint">
          <p>Supporting documentation for the whole lesson</p>
        </div>
      </div>

      <div class="FormField__input">
        <div class="dropzone" data-url="<%= upload_file_for_lesson_path(@lesson_obj.id, attr: :assessment_criteria_files) %>" id="assessment_criteria_files">
        </div>

        <div class="FormUploads">
          <% @lesson_obj.assessment_criteria_files.each do |file| %>
            <div class="FormUploads__file FormUploads__file--<%= file.file.extension %>">
              <%= link_to file.file.filename, file.url, class: "FormUploads__link" %>
              <%= link_to "✕", delete_file_for_lesson_path(@lesson_obj.id, attr: :assessment_criteria_files, name: file.file.filename), class: "FormUploads__delete" %>
            </div>
          <% end %>
        </div>

      </div>

    </div>

  <% end %>

  <%= field_set_tag nil, class: 'Form__fieldset' do %>

    <!-- lesson.further_readings -->
    <div class="FormField">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_further_readings_1">Further Reading</label>
        <div class="FormField__hint">Notes and links to additional reading and research</div>
      </div>

      <div class="FormField__input FormField__input--multiple">
        <input type="url" data-parsley-type="url" name="lesson[further_readings][]" class="Input Input--multiple" data-values='<%= @lesson_obj.further_readings.to_json %>' 
          value="" placeholder="+ Add a new URL" id="lesson_further_readings_1" />
      </div>

    </div>

  <% end %>

  <div class="Form__footer">

    <div class="Form__footer__content">

      <div class="Form__footer__heading">
        Next up... <span>Tell us more how the lesson aligns to standards...</span>
      </div>

      <div class="Form__footer__actions Form__footer__actions--right">
        <button class="Form__footer__action Button Button--primary Button--small Button--icon Button--icon--right Button--arrow--right">Add some Standards</button>
      </div>

    </div>

  </div>

<% end %>
