<%= form_tag(lesson_path(id: @lesson_obj.id, form_step:4), method: :patch, multipart: true, class: "Form") do %>

  <%= field_set_tag 'Who is this for?', class: 'Form__fieldset' do %>

    <!-- lesson.grade_range -->
    <div class="FormField FormField--required FormField--with-border">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_name">Targeted Grade</label>
        <div class="FormField__hint">Choose one or more of targeted grade (U.S.)</div>
      </div>

      <%= render partial: 'lessons/form/grade_range' %>

    </div>

    <!-- lesson.contexts -->
    <div class="FormField FormField--with-border">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_contexts">Context</label>
        <div class="FormField__hint">Where was this lesson first tested?</div>
      </div>

      <%= render partial: "lessons/form/contexts" %>

    </div>

    <!-- lesson.subjects -->
    <div class="FormField FormField--required FormField--with-border">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_name">Subjects</label>
        <div class="FormField__hint">Choose one or more Subjects explored</div>
      </div>

      <%= render partial: "lessons/form/subjects" %>

    </div>

    <!-- lesson.mastery -->
    <div class="FormField FormField--with-border">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_mastery">Mastery Level</label>
        <div class="FormField__hint">What is student and educator pre-requisite mastery or experience level?</div>
      </div>

      <%= render partial: "lessons/form/mastery" %>

    </div>

  <% end %>

  <%= field_set_tag 'What will we learn?', class: 'Form__fieldset' do %>

    <!-- lesson.fabrication_tools -->
    <div class="FormField FormField--required FormField--with-padding">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_contexts">Digital Fabrication</label>
        <div class="FormField__hint">Which digital fabrication tools are explored in this lesson?</div>
      </div>

      <div class="FormField__input">
        <div class="Checkboxes">
          <% ['Hardware', 'Electrical', 'Design', 'CNC Milling', 'Software'].each_with_index do |tool, i| %>
          <div class="Checkbox">
            <input type="checkbox" class="Checkbox__input" name="lesson[fabrication_tools][]" value="<%= tool %>" id="lesson_fabrication_tools_<%= i %>" />
            <label class="Checkbox__label" for="lesson_fabrication_tools_<%= i %>">
              <%= tool %>
            </label>
          </div>
          <% end %>
        </div>
      </div>

    </div>

    <!-- lesson.duration -->
    <div class="FormField FormField--required FormField--with-padding">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_name">Total Lesson Time</label>
      </div>

      <div class="FormField__input">
        <% if @lesson_obj.attributes['duration'] %>
        <input type="text" name="lesson[duration]" class="Input" value="<%= @lesson_obj.duration %>" placeholder="Approximately" id="lesson_duration" />
        <% end %>
      </div>

    </div>

    <!-- lesson.key_concepts -->
    <div class="FormField FormField--required FormField--with-padding">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_key_concepts_1">Key Concepts</label>
        <div class="FormField__hint">Add one or more</div>
      </div>

      <div class="FormField__input FormField__input--multiple">
        <input type="text" name="lesson[key_concepts][]" class="Input Input--multiple" data-values='<%= @lesson_obj.key_concepts.to_json %>' value="" placeholder="+ Add a new concept" id="lesson_key_concepts_1" />
      </div>

    </div>

    <!-- lesson.key_vocabularies -->
    <div class="FormField FormField--required FormField--with-padding">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_key_concepts_1">Key Vocabularies</label>
        <div class="FormField__hint">Add one or more</div>
      </div>

      <div class="FormField__input FormField__input--multiple">
        <input type="text" name="lesson[key_vocabularies][]" class="Input Input--multiple" data-values='<%= @lesson_obj.key_vocabularies.to_json %>' value="" placeholder="+ Add a new vocabulary" id="lesson_key_vocabularies_1" />
      </div>

    </div>

    <!-- lesson.key_formulas -->
    <div class="FormField FormField--required FormField--with-padding">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_key_concepts_1">Key Formulas</label>
        <div class="FormField__hint">Add one or more</div>
      </div>

      <div class="FormField__input FormField__input--multiple">
        <input type="text" name="lesson[key_formulas][]" class="Input Input--multiple" data-values='<%= @lesson_obj.key_formulas.to_json %>' value="" placeholder="+ Add a new formula" id="lesson_key_formulas_1" />
      </div>

    </div>

    <!-- lesson.collection -->
    <div class="FormField FormField--required FormField--with-border">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_name">Collection</label>
        <div class="FormField__hint">Does this belong to a collection?</div>
      </div>

      <div class="FormField__input">
        <%= select(:lesson, :collection_tag, options_for_select(@collections)) %>
      </div>

    </div>

    <!-- lesson.tags -->
    <div class="FormField FormField--required">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_name">Tags</label>
        <div class="FormField__hint">Enter comma separated tags, to further identify or categorize the learning</div>
      </div>

      <div class="FormField__input">
        <%= text_field(:lesson, :tags, multiple: true, class: "Input--choices") %>
      </div>

    </div>

  <% end %>

  <div class="Form__footer">

    <div class="Form__footer__content">

      <div class="Form__footer__actions">
        <a href="#" class="Form__footer__action Button Button--primary Button--small Button--icon Button--icon--left Button--arrow--left">Back to standards</a>
        <button class="Form__footer__action Button Button--primary Button--small Button--icon Button--icon--right Button--arrow--right">Add some instructions</button>
      </div>

    </div>

  </div>


<% end %>
