<div class="EditList">

  <h3 class="EditList__heading">How does the learning align to educational standards?</h3>

  <div class="EditList__heading__sub">More info on SCOPESDF standards in Toolkit.</div>

  <ul class="EditList__items">
	<% @lesson_obj.lessons_standards.each_with_index do |lessons_standard, index| %>
	<li class="EditList__item">
		<div class="EditList__content">
        <div class="EditList__number">
          Standard <%= index + 1 %>
        </div>
        <div class="EditList__title">
          <%= lessons_standard.standard.name %>
        </div>
        <% if lessons_standard != @lessons_standard_obj %>
          <%= link_to "Edit standard", edit_lesson_standard_path(id: lessons_standard.id, lesson_id: @lesson_obj.id, form_step: @form_step), class: 'EditList__edit' %>
        <% else %>
          <%= link_to "Editing", edit_lesson_standard_path(id: lessons_standard.id, lesson_id: @lesson_obj.id, form_step: @form_step), class: 'EditList__edit EditList__edit--active' %>
        <% end %>
        <%= link_to '<span>Remove</span>'.html_safe, lesson_standard_path(id: lessons_standard.id, lesson_id: @lesson_obj.id, form_step: @form_step), method: :delete, confirm: "Are you sure?", class: 'EditList__remove' %>
      </div>
	</li>
	<% end %>
  </ul>
  <div class="EditList__actions">
    <%= link_to "+ Add a new standard", new_lesson_standard_path(lesson_id: @lesson_obj.id, form_step: @form_step) %>
  </div>

</div>