<%= render partial: 'lessons/show_sub_nav' %>

<div class="PageHeader">
  <div class="PageHeader__content">
    <div class="PageHeader__title">
      <h1 class="PageHeader__heading"><%= @lesson_obj.name %></h1>
      <div class="PageHeader__sub">
        This lesson abides by the following standards
      </div>
    </div>
  </div>
</div>

<div class="StandardsIndex">

  <% @lesson_obj.lessons_standards.each do |lessons_standard| %>
  <div class="StandardsIndex__standard">

    <h3 class="StandardsIndex__heading">
      <%= lessons_standard.standard %>
    </h3>

    <ul class="StandardsIndex__descriptions">

      <% lessons_standard.description.each do |description| %>
      <li class="StandardsIndex__description">
        <%= description %>
      </li>
      <% end %>

    </ul>

  </div>
  <% end %>

</div>

<div class="LessonFooter">

  <div class="LessonFooter__content">

    <div class="LessonFooter__actions">
      <%= link_to "Back to Overview", lesson_path(id: @lesson_obj.id), class: "LessonFooter__action Button Button--primary Button--small Button--icon Button--icon--left Button--arrow--left" %>
      <%= link_to "Step by Step", lesson_steps_path(lesson_id: @lesson_obj.id), class: "LessonFooter__action LessonFooter__action--right Button Button--primary Button--small Button--icon Button--icon--right Button--arrow--right" %>
    </div>

  </div>

</div>