.lesson-nav-actions
  %h3 New lesson
  = link_to 'Delete', '#'
  = link_to 'Save as draft', '#'
  = link_to 'Publish lesson', '#'

%nav
  %ul
  %li= link_to 'Overview', page_path('static/lessons/new.html.haml')
  %li= link_to 'Standards', page_path('static/lessons/new.html.haml')
  %li= link_to 'Details', page_path('static/lessons/new.html.haml')
  %li= link_to 'Instructions', page_path('static/lessons/new.html.haml')
  %li= link_to 'Outcomes', page_path('static/lessons/new.html.haml')

[progress]
