.lesson-nav-actions
  .wrapped
    %h3 New lesson
    = link_to 'Delete', '#'
    = link_to 'Save as draft', '#'
    = link_to 'Publish lesson', '#'

%nav
  .wrapped
    %ul
    %li= link_to 'Overview', page_path('static/lessons/new.html.haml', step: '1')
    %li= link_to 'Standards', page_path('static/lessons/new.html.haml', step: '2')
    %li= link_to 'Details', page_path('static/lessons/new.html.haml', step: '3')
    %li= link_to 'Instructions', page_path('static/lessons/new.html.haml', step: '4')
    %li= link_to 'Outcomes', page_path('static/lessons/new.html.haml', step: '5')

    [progress]
