<div class="PageHeader">
  <div class="PageHeader__content">
    <div class="PageHeader__title">
      <h1 class="PageHeader__heading">Settlers of Catan</h1>
    </div>
  </div>
</div>

<div class="Grid">

  <div class="Grid__header">
    <h3 class="Grid__heading">Expected outcomes</h3>
  </div>

  <div class="Grid__items Grid__items--border-bottom Grid__items--constrained-width">

    <% 4.times do |i| %>
    <div class="Grid__item">
      <div class="Grid__image">
        <img src="<%= image_url("lessons/show/catan#{i+1}.jpg") %>"
          data-sizes="auto"
          data-srcset="<%= image_url("lessons/show/catan#{i+1}.jpg") %> 1x, <%= image_url("lessons/show/catan#{i+1}.jpg") %> 2x"
          class="Image Image--lazy" />
      </div>
      <div class="Grid__caption Grid__caption--image">
        Photo caption <%= i %>
      </div>
    </div>
    <% end %>

  </div>

</div>

<div class="LessonFooter">

  <div class="LessonFooter__content">

    <div class="LessonFooter__actions">
      <%= link_to "Back to Steps", lesson_steps_path(lesson_id: @lesson_obj.id), class: "LessonFooter__action LessonFooter__action--left Button Button--primary Button--small Button--icon Button--icon--left Button--arrow--left" %>
      <%= link_to "View all Lessons", lessons_path, class: "LessonFooter__action LessonFooter__action--right Button Button--primary Button--small Button--icon Button--icon--rightleft Button--arrow--right" %>
    </div>

  </div>

</div>