<div class="LessonHeader">

  <div class="LessonHeader__panel">

    <div class="LessonHeader__content">

      <div class="LessonHeader__collection LessonHeader__collection--fab-tested">
        <span>Fab Tested</span>
      </div>

      <h1 class="LessonHeader__heading">
        <%= @lesson_obj.name %>
      </h1>

      <div class="LessonHeader__topline">
        <%= @lesson_obj.topline %>
      </div>

      <% @lesson_obj.authors.each do |author| %>
      <%= link_to author, class: "LessonHeader__author" do %>
        <div class="LessonHeader__author__avatars">
          <div class="LessonHeader__author__person">
            <img src="<%= image_url('avatars/avatar1.jpg') %>" class="Image Image--lazy" />
          </div>
        </div>
        <div class="LessonHeader__author__name">
          <%= author %>
        </div>
        <div class="LessonHeader__author__roleplace">
          <%= author.role %>
        </div>
      <% end %>
      <% end %>

    </div>

  </div>

  <div class="LessonHeader__slideshow">

    <div class="LessonHeader__photos">
      <% @lesson_obj.outcome_files.each do |file| %>
        <div class="LessonHeader__photo">
          <img src="<%= file.url(:medium) %>" data-sizes="auto" data-srcset="<%= file.url(:medium) %> 1x, <%= file.url(:medium2x) %> 2x" class="Image Image--lazy" />
        </div>
      <% end %>
    </div>

    <%= link_to "View more photos", lesson_path(section: :outcomes), class: "LessonHeader__photos__action Button Button--primary Button--small" %>

      <div class="LessonHeader__photos__status">
        <span class="current">1</span> /
        <span class="total"></span>
      </div>

  </div>

</div>

<div class="DetailsBanner">

  <div class="DetailsBanner__content">

    <div class="DetailsBanner__column">
      <div class="DetailsBanner__header">Teaching Range</div>
      <div class="DetailsBanner__range">
        8th—12th Grade <!-- TODO: once lesson.teaching_range attr works -->
      </div>
    </div>

    <div class="DetailsBanner__column">
      <div class="DetailsBanner__header">Subjects Covered</div>
      <ul class="DetailsBanner__subjects">
        <% @lesson_obj.subjects.each do |subject| %>
        <li class="DetailsBanner__subject DetailsBanner__subject--<%= subject.name %>%"><%= subject.name.titleize %></li>
        <% end %>
      </ul>
    </div>

  <!-- TODO: need to translate @lesson_obj.eductor/student_mastery into a "Difficult", "Easy", etc -->
    <div class="DetailsBanner__column">
      <div class="DetailsBanner__header">Mastery</div>
      <div class="DetailsBanner__masteries">
        <div class="DetailsBanner__mastery">
          <div class="DetailsBanner__mastery__metric"><%= @lesson_obj.educator_mastery %></div>
          <div class="DetailsBanner__mastery__for">For Teachers</div>
        </div>
        <div class="DetailsBanner__mastery">
          <div class="DetailsBanner__mastery__metric"><%= @lesson_obj.student_mastery %></div>
          <div class="DetailsBanner__mastery__for">For Students</div>
        </div>
      </div>
    </div>

    <div class="DetailsBanner__column">
      <div class="DetailsBanner__header">Alignment to Standards</div>
      <ul class="DetailsBanner__standards">
        <% @lesson_obj.lessons_standards.each do |lessons_standard| %>
            <li class="DetailsBanner__standard Tooltip" title="<%= lessons_standard.description.join("<br><br>") %>"><%= lessons_standard.standard %></li>
        <% end %>
      </ul>
    </div>

  </div>

</div>


<div class="PageContent">

  <div class="PageContent__columns">

    <div class="PageContent__main">

      <!-- summary -->
      <div class="PageContent__section">

        <div class="PageContent__heading">Summary</div>

        <div class="PageContent__quick_pitch">
          <%= @lesson_obj.topline %>
        </div>

        <div class="PageContent__summary">
          <%= @lesson_obj.summary %>
        </div>

      </div>

      <!-- objectives -->
      <div class="PageContent__section">

        <div class="PageContent__heading">Objectives</div>

        <% @lesson_obj.learning_objectives.each do |objective| %>
        <div class="PageContent__objective">
          <%= objective %>
        </div>
        <% end %>

      </div>

      <!-- outcomes -->
      <div class="PageContent__section">

        <div class="PageContent__heading">Expected outcomes</div>

        <div class="PageContent__thumbnails">

          <% @lesson_obj.outcome_files.each do |file| %>
            <%= link_to lesson_path(section: :outcomes), class: "PageContent__thumbnail" do %>
              <img src="<%= file.url(:thumbnail) %>" data-sizes="auto" data-srcset="<%= file.url(:thumbnail) %> 1x, <%= file.url(:thumbnail2x) %> 2x" class="Image Image--lazy" />
            <% end %>
          <% end %>

        </div>

      </div>

      <!-- assessment criteria -->
      <div class="PageContent__section">

        <div class="PageContent__heading">Assessment Criteria</div>

        <div class="PageContent__text">

          <!-- TODO: lesson view design calls for bulleted list, but form design is a textarea -->
          <%= simple_format(@lesson_obj.assessment_criteria) %>

        </div>

        <div class="PageContent__heading PageContent__heading--minor">Supporting files</div>

        <% @lesson_obj.assessment_criteria_files.each do |file| %>
        <a href="<%= file.url %>" class="Button Button--outline Button--small Button--icon Button--icon--file Button--margin-bottom"><%= file.file.filename %></a>
        <% end %>

      </div>

    </div>

    <div class="PageContent__sidebar">

      <div class="Sidebar">

        <!-- files -->
        <div class="Sidebar__section Sidebar__section--with-border">

          <!-- TODO: this field is not on the lesson model -->
          <div class="Sidebar__heading">
            Download Lesson Plan
          </div>

          <a href="#" class="Button Button--outline Button--small Button--icon Button--icon--file Button--extra-padding Button--full">CatanLessonPlan.pdf</a>

        </div>

        <!-- stats -->
        <div class="Sidebar__section Sidebar__section--with-border">

          <div class="Sidebar__heading">
            Stats
          </div>

          <!-- TODO: no stats available yet -->

          <ul class="Sidebar__list">
            <li class="Sidebar__list__item">
              <a href="#" class="Sidebar__stat Sidebar__stat--likes">82 Likes</a>
            </li>
            <li class="Sidebar__list__item">
              <a href="#" class="Sidebar__stat Sidebar__stat--forks">6 Forks</a>
            </li>
            <li class="Sidebar__list__item">
              <a href="#" class="Sidebar__stat Sidebar__stat--completed">51 Completed</a>
            </li>
          </ul>

        </div>

        <!-- dates -->
        <div class="Sidebar__section Sidebar__section--with-border">

          <div class="Sidebar__heading">
            Details
          </div>

          <ul class="Sidebar__list">
            <% if @lesson_obj.published_at.present? %>
            <li class="Sidebar__list__item">Publish date: <%= @lesson_obj.published_at.strftime("%d %b %Y") %></li>
            <% end %>
            <li class="Sidebar__list__item">Last updated: <%= @lesson_obj.updated_at.strftime("%d %b %Y") %></li>
          </ul>

        </div>

        <!-- forked -->
        <!-- TODO: forking functionaly, descoped -->
        <!--
        <div class="Sidebar__section Sidebar__section--with-border">

          <div class="Sidebar__heading">
            Forked from
          </div>

          <div class="LessonListing LessonListing--small">

            <a href="#" class="LessonListing__image">
              <img src="<%= image_url('lessons/show/aquacatan.jpg') %>" class="Image Image--lazy" />
            </a>
            <div class="LessonListing__content">
              <a href="#" class="LessonListing__name LessonListing__name--collection LessonListing__name--collection--fab-tested">
                <span>AquaCatan</span>
              </a>
              <div class="LessonListing__topline">
                A variation on the popular catan game with only …
              </div>
              <div class="LessonListing__author">
                <%= render partial: "components/user_badge", locals: { size: :tiny } %>
              </div>
            </div>

          </div>

        </div>
        -->

        <% if @lesson_obj.authors.present? %>
        <!-- authors -->
        <div class="Sidebar__section Sidebar__section--with-border">

          <div class="Sidebar__heading">
            Authors
          </div>

          <% @lesson_obj.authors.each do |author| %>
            <%= render partial: "components/user_badge", locals: { user: author, size: :medium } %>
          <% end %>

        </div>
        <% end %>

        <% if @lesson_obj.tags.present? %>
        <!-- tags -->
        <div class="Sidebar__section Sidebar__section--with-border">

          <div class="Sidebar__heading">
            Tags
          </div>

          <div class="Tags">
            <% @lesson_obj.tags.each do |tag| %>
              <%= link_to tag, lessons_path(tag: tag), class: "Tag" %>
            <% end %>
          </div>

        </div>
        <% end %>

      </div>

    </div>

  </div>

</div>


<div class="PageFooter">

  <div class="PageFooter__content">

    <div class="PageFooter__heading">
      Interested in this lesson?
    </div>

    <div class="PageFooter__actions PageFooter__actions--right">
      <%= link_to "Check out the Standards", lesson_standards_path(lesson_id: @lesson_obj.id), class: "PageFooter__actions--right Button Button--primary Button--small Button--icon Button--icon--right Button--arrow--right" %>
    </div>

  </div>

</div>