<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

	<%= render partial: 'layouts/head' %>

	<body>

		<%= render partial: 'layouts/flash' if flash.present? %>

		<!-- container -->
		<div class="Container">

			<!-- header -->
			<header class="Header Header--transparent">

				<div class="Header__content">

					<%= link_to "<span>ScopesDF</span>".html_safe, root_path, class: "Logo" %>

					<nav class="Navigation">
						<ul class="Navigation__items">
							<li class="Navigation__item"><%= link_to 'Lessons', lesson_list_path, class: "Navigation__link" %></li>
							<li class="Navigation__item"><%= link_to 'People', involved_path, class: "Navigation__link" %></li>
							<li class="Navigation__item"><%= link_to 'Places', involved_path, class: "Navigation__link" %></li>
							<li class="Navigation__item"><%= link_to 'About', about_path, class: "Navigation__link" %></li>
						</ul>
					</nav>

					<div class="Toolbar">
						<%= link_to 'Log in', new_user_session_path, class: "Toolbar__tool Toolbar__tool--login Button" %>
						<%= link_to 'Register', new_user_registration_path, class: "Toolbar__tool Toolbar__tool--register Button" %>
					</div>

				</div>

			</header>
			<!-- .header -->

			<!-- main -->
			<div class="Main">

				<%= yield %>

			</div>
			<!-- .main -->

			<!-- footer -->
			<footer class="Footer">



			</footer>
			<!-- .footer -->

		</div>
		<!-- .container -->

	</body>

</html>
